
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1 style="font-family: 'Bowlby One SC', cursive;">MOVIE-TIME</h1>
        <p>
            Movie-Time is a popular page to rent and buy movies.
        </p>
    </div>  
    
    <h3 style="font-family: 'Bowlby One SC', cursive;">Popular movies</h3>
    <div class="row">        
        <div class="col-md-4">   
            <table>
                <tr>
                    <td style="width:120px; height:130px">
                        <img style="width:120px; height:130px;" src="~/Resources/Images/default.png" alt="Aqui va una imagen" />
                    </td>
                    <td style="width:161px; height:130px">
                        <h4 style="font-family: 'Bowlby One SC', cursive;">HandOver</h4>
                        <p style="text-align:justify;">
                            Descripcion.
                        </p>
                    </td>
                </tr>                
            </table>
            <a href="#" class="pull-right">Ver mas ></a>
        </div>
        
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:120px; height:130px">
                        <img style="width:120px; height:130px;" src="~/Resources/Images/default.png" alt="Aqui va una imagen" />
                    </td>
                    <td style="width:161px; height:130px">
                        <h4 style="font-family: 'Bowlby One SC', cursive;">HandOver</h4>
                        <p style="text-align:justify;">
                            Descripcion.
                        </p>
                    </td>
                </tr>
            </table>
            <a href="#" class="pull-right">Ver mas ></a>
        </div>
        
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:120px; height:130px">
                        <img style="width:120px; height:130px;" src="~/Resources/Images/default.png" alt="Aqui va una imagen" />
                    </td>
                    <td style="width:161px; height:130px">
                        <h4 style="font-family: 'Bowlby One SC', cursive;">HandOver</h4>
                        <p style="text-align:justify;">
                            Descripcion.
                        </p>
                    </td>
                </tr>
            </table>
            <a href="#" class="pull-right">Ver mas ></a>
        </div>
    </div>  
</div>

